#portfolio {
    padding-top: 120px;
    align-items: center;
}

.portfolio-title {
    font-size: 23px;
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

#portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.overview {
    width: 80%;
    padding: 20px;

}

.overview img {
    align-items: center;
    width: 100%;
}

.overview .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
}

.description .summary {
    height: 10em;
}

.description .title{
    font-size: 23px;
    color: black;
    font-weight: bold;
    position: relative;
}

.description .tools {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}
.description .links {
    display: flex;
    justify-content: start;
}

.overview .description .title::before{
    content: "";
    position: absolute;
    left: 5%;
    bottom: 1px;
    width: 40px;
    height: 5px;
    transform: skew(-12deg) translateX(-50%);
    background: rgba(110,7,243, .5);
    z-index: -1;
}

.bttn-slide {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
    background-color: rgba(110,7,243);
    border: none;
    border-radius: 60px;
    display: inline-block;
    font-size: 13px;
    letter-spacing: 1px;
    cursor: pointer;
    width: 100px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    padding: 12px;
    text-align: center;
    transition: background-color 1s;

}

.bttn-slide:hover {
    background-color: rgba(110,7,243,0.5);
}
;
.bttn:focus, .bttn:active {
    background-color: rgba(110,7,243, 0.8);
    transition: none;
}

.project-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
}

.fa-info-circle {
    position: relative;
    font-size: 16px;
    right: 10px;
    bottom: 10px;
    color: #6E07F3;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.fa-info-circle:hover {
    cursor: pointer;
    color: rgba(110,7,243,0.5);
    transform: translateY(-8px);
}


@media (max-width: 760px) {
    #portfolio-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overview {
        padding: 0;
        display: flex;
        flex-direction: column
    }

    .overview img {
        margin: 0;
    }

    .description .summary {
        height: 100%;
    }

    .description .tools {
        margin-top: 0;
    }
}

@media (min-width: 761px) and (max-width: 1024px){
    #portfolio-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overview {
        padding: 0
    }

    .description .summary {
        height: 100%;
        font-size: 16px;
    }

    .description .tools {
        margin-top: 10px;
    }
}

@media (min-width: 1025px) and (max-width: 1201px) {
    .description .tools {
        height: 300px;
        margin-top: 0;
    }

    .description .summary {
        margin-bottom: 40px;
    }
}


@media (min-width: 1202px) and (max-width: 1470px) {
    .description .tools {
        height: 250px;
        margin: 0;
    }

    .description .summary {
        height: 10em;
    }
}

@media (min-width: 1471px) {
    .description .tools {
        height: 270px;
        margin: 0;
    }

    .description .summary {
        height: 8em;
    }
}
