.overview-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview-title h2 {
  color:black;
  font-weight: 600;
}

.github ,
.live-link,
.exit-modal-btn {
    all: unset;
    cursor: pointer;
    margin-right: 1em;

}


.github a, .live-link a {
    text-decoration: none;
    border: 3px solid rgba(110,7,243);
    border-radius: 20px;
    height: 8px;
    padding: 10px;
}

.github a:hover, .live-link a:hover {
  border: 3px solid rgba(110,7,243, 0.5);
}

.exit-modal-btn{
  color:rgba(110,7,243);
  font-weight: 600;
  height: 8px;
  padding: 10px;
}

.exit-modal-btn:hover {
  color: rgba(110,7,243, 0.5);
}

.project-gallery {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow-x: auto;
  margin-top: 40px;
}

.slideshow-images {
  background-color: rgba(0, 0, 0);
  /* border-radius: 20px; */
  padding: 7px;
  margin-right: 10px;

}

.slideshow-images img {
  /* border-radius: 15px; */
  height: 28em;
  width:auto;
}
