.overview-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.overview-title h2 {
  color:black;
  font-weight: 600;
}

.github ,
.live-link,
.exit-modal-btn {
    all: unset;
    cursor: pointer;
    margin-right: 1em;

}


.github a, .live-link a {
    text-decoration: none;
    border: 2px solid rgba(110,7,243);
    border-radius: 20px;
    height: 8px;
    padding: 10px;
    font-size: 13px;
    color:rgba(110,7,243);
}

.github a:hover, .live-link a:hover {
  border: 2px solid rgba(110,7,243, 0.5);
}

.exit-modal-btn{
  color:rgba(110,7,243);
  font-weight: 600;
  height: 8px;
  padding: 10px;
}

.exit-modal-btn:hover {
  color: rgba(110,7,243, 0.5);
}

.project-gallery {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  position: relative;
  margin: auto;
  overflow-x: auto;
  margin-top: 20px;
  padding: 7px;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

.slideshow-images {
  /* background-color: rgba(0, 0, 0); */
  border-radius: 10px;
  padding: 4px;
  margin-right: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
}

.overview-description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}

.overview-description p {
  color: red;margin-top: 5px;
  font-size: 16px;
  word-break: normal;
  white-space: normal;
  margin: 0;
  padding: 0;
}

.slideshow-images img {
  /* border-radius: 15px; */
  height: 28em;
  width:auto;
}


