nav {
    width: 100%;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 17px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 0;
    position: fixed;
  }

  nav div {
    text-align: center;
    margin: 0px 25px;
    padding: 15px 0;
    width: 100px;
  }

  div a {
    padding: 30px 0;
  }

  nav div:hover {
    color: #97a2ad;
    transition-duration: 0.1s;
    border-bottom: 2px solid #a5b2be;
  }

  @media screen and (max-width: 899px) {
    nav {
      font-size: 13px;
    }

    nav div {
      margin: 0;
      width: 88px;
    }
  }
