#modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.75);
  overflow-y: hidden;
  overflow-x: hidden;
}

#modal-background {
  position: fixed;
  width: 90%;
  height: 90%;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 24px;
  overflow-x: auto;
}

@media (max-width: 760px) {
  #modal-background {
    height: 90%;
  }
}

@media (min-width: 1400px) {
  #modal-background {
    height: 100%;
  }
}
