#modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: initial;
  }

  #modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75)
  }

  #modal-content {
    height: 500px;
    position: absolute;
    padding: 35px;
    width: 76%;
    background-color: white;
    white-space: nowrap;
    border-radius: 1px;
    overflow-x: hidden;
  }

  @media screen and (max-width: 1200px) {
    #modal-content {
      width: 100vw;
    }
  }
